<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Spring eCommerce</title>
    <div th:replace="components/Animations/bootstrap :: bootstraplink"></div>
</head>
<body>
<div th:replace="components/NavBar/navbaradmin.html :: navbaradmin"></div>
<div class="container">
    <div th:replace="components/Header/headeradmin.html :: headeradmin"></div>
    <div th:replace="components/Item/itemscatalogue.html :: itemcatalogue"></div>
</div>
<div th:replace="components/Footer/footer :: footer"></div>
<div th:replace="components/Animations/bootstrap :: bootstrapcontext"></div>
</body>
</html>
